body {
    margin: 0;
    padding: 0;
    padding-top: 80px;
    font-family:'Times New Roman', Times, serif;
    background-color: #F3F3F3;
}

.App {
    text-align: center;
}

/* .makeStyles-header-1 {
    position: fixed;
    z-index: 999;
    top: 0;
    left: 0;
    width: 100%;
} */

.makeStyles-appBar-2 {
    background: #eee;
}

header h1 {
    text-align: left;
}

.wrapper {
    max-width: 1320px;
    margin: 0 auto;
}

/* .contents-nav {
    position: fixed;
    z-index: 999;
    top: 0;
    left: 0;
    width: 100%;
    background: #eee;
    box-sizing: border-box;
    box-shadow: 0 3px 6px #0000003c; 
    background-color:rgba(255, 255, 255, 0.8);
} */

.contents-nav p {
    display: inline-block;
    width: 20%;
    font-size: 30px;
    cursor: pointer;
}

/* .contents-nav p:hover {
    color: #ffcb2d;
    font-size: 20px;
	font-weight: bold;
} */

.contents-title {
    text-decoration: none;
}

.title-header {
    /* background-color: #768DC6; */
    position: relative;
}

.title-header img {
    width: 100%;
    height: 480px;
    object-fit: cover;
    /* position: relative; */
    /* height: 480px; */
}

.title-header p {
    position: absolute;
    top: 50%;
    left: 50%;
    color: #fff;
    background: rgba(56, 40, 79, 0.8);
    font-size: 5rem;
    transform: translate(-50%, -50%);
    letter-spacing: 5px;
    margin: 0;
}

.section-title {
    font-size: 50px;
}

/* プロフィール */

.profile, .section-skill, .works {
    padding-top: 100px;
    /* padding-bottom: 100px; */
}

.profile-text {
    width: 100%;
    margin: 0 auto;
    padding-top: 50px;
}

.p-icon {
    /* display: flex; */
    /* height: 288px; */
}

.p-icon img {
    border-radius: 50%;
    position: relative;
    margin: 0 auto;
}

.profile-text {
    /* margin: 0 auto; */
}

/* skill */

.skill {
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    max-width: 1000px;
    /* padding: 10px 100px; */
}


.skill th {
    padding: 0.75rem;
}

.skill h3 {
    letter-spacing: 0.12em;
    font-size: 25px;
}

.skill-desc {
    /* flex-basis: calc(100% - 75px - 30px); */
    /* text-align: center; */
}

/* SKILL-design*/

.card-top {
    width: 100%;
}
.card {
    width: 50%;
}

.design {
    text-shadow: 1px 2px 3px #808080;
    /* width: 100%; */
    border-radius: 0.5rem;
}

.table {
    width: 100%;
    padding: 0.5em 1em;
    margin: 2em 0;
    color: #5d627b;
    background: white;
    border-top: solid 5px #5d627b;
    box-shadow: 0 3px 5px rgba(0, 0, 0, 0.22);
    /* margin: 0 auto; */
}

.rating-html{
    position: relative;
    display: inline-block;
}
.rating-html:before,
.rating-html:after{
    content: "★★★★★";
}
.rating-html:before{
    color: #ccc;
}
.rating-html:after{
    position: absolute;
    left:0;
    top:0;
    color: #ffcb2d;
    overflow: hidden;
    width: 3.5em;
}

.rating-css{
    position: relative;
    display: inline-block;
}
.rating-css:before,
.rating-css:after{
    content: "★★★★★";
}
.rating-css:before{
    color: #ccc;
}
.rating-css:after{
    position: absolute;
    left:0;
    top:0;
    color: #ffcb2d;
    overflow: hidden;
    width: 3.5em;
}

/* SKILL-fornt*/

.front {
    text-shadow: 1px 2px 3px #808080;
    /* width: 32%; */
    margin: 0 auto;
    border-radius: 0.5rem;
}

.front table {
    margin: 0 auto;
}

.rating-js{
    position: relative;
    display: inline-block;
}
.rating-js:before,
.rating-js:after{
    content: "★★★★★";
}
.rating-js:before{
    color: #ccc;
}
.rating-js:after{
    position: absolute;
    left:0;
    top:0;
    color: #ffcb2d;
    overflow: hidden;
    width: 3em;
}

.rating-react{
    position: relative;
    display: inline-block;
}
.rating-react:before,
.rating-react:after{
    content: "★★★★★";
}
.rating-react:before{
    color: #ccc;
}
.rating-react:after{
    position: absolute;
    left:0;
    top:0;
    color: #ffcb2d;
    overflow: hidden;
    width: 3em;
}

/* SKILL-back*/

.back {
    text-shadow: 1px 2px 3px #808080;
    /* width: 32%; */
    margin: 0 auto;
    border-radius: 0.5rem;
}

.back table {
    margin: 0 auto;
}

.rating-laravel{
    position: relative;
    display: inline-block;
}
.rating-laravel:before,
.rating-laravel:after{
    content: "★★★★★";
}
.rating-laravel:before{
    color: #ccc;
}
.rating-laravel:after{
    position: absolute;
    left:0;
    top:0;
    color: #ffcb2d;
    overflow: hidden;
    width: 3em;
}

/* SKILL-db*/

.db {
    text-shadow: 1px 2px 3px #808080;
    /* width: 32%; */
    margin: 0 auto;
    border-radius: 0.5rem;
}

.db table {
    margin: 0 auto;
}

.rating-mysql{
    position: relative;
    display: inline-block;
}
.rating-mysql:before,
.rating-mysql:after{
    content: "★★★★★";
}
.rating-mysql:before{
    color: #ccc;
}
.rating-mysql:after{
    position: absolute;
    left:0;
    top:0;
    color: #ffcb2d;
    overflow: hidden;
    width: 3.5em;
}

.rating-postgres{
    position: relative;
    display: inline-block;
}
.rating-postgres:before,
.rating-postgres:after{
    content: "★★★★★";
}
.rating-postgres:before{
    color: #ccc;
}
.rating-postgres:after{
    position: absolute;
    left:0;
    top:0;
    color: #ffcb2d;
    overflow: hidden;
    width: 3.5em;
}

/* SKILL-server*/

.server {
    text-shadow: 1px 2px 3px #808080;
    /* width: 32%; */
    /* background-color: #768DC6; */
    /* margin: 0 auto; */
    border-radius: 0.5rem;
}

.server table {
    /* margin: 0 auto; */
}

.rating-xserv{
    position: relative;
    display: inline-block;
}
.rating-xserv:before,
.rating-xserv:after{
    content: "★★★★★";
}
.rating-xserv:before{
    color: #ccc;
}
.rating-xserv:after{
    position: absolute;
    left:0;
    top:0;
    color: #ffcb2d;
    overflow: hidden;
    width: 2.5em;
}

.rating-aws{
    position: relative;
    display: inline-block;
}
.rating-aws:before,
.rating-aws:after{
    content: "★★★★★";
}
.rating-aws:before{
    color: #ccc;
}
.rating-aws:after{
    position: absolute;
    left:0;
    top:0;
    color: #ffcb2d;
    overflow: hidden;
    width: 2.5em;
}

/* works */

.works h3 {
    border-image-slice: 1;
    width: 50%;
    margin: 0 auto;
    font-size: 30px;
    padding-bottom: 50px;
}

.ec {
    margin: 0 auto;
    margin-top: 50px;
    margin-bottom: 50px;
    max-width: 1000px;
    display: flex;
    flex-wrap: wrap;
    padding: 10px 0;
    justify-content: space-between;
}

.ec article {
    width: calc(50% - 5px);
    padding-bottom: 50px;
}

.ec article figure {
    margin: 0 auto;
    width: 50%;
}

.ec article img{
    width: 100%;
    
    
}

.api {
    margin: 0 auto;
    margin-top: 50px;
    margin-bottom: 50px;
    max-width: 1000px;
    display: flex;
    flex-wrap: wrap;
    padding: 10px 0;
    justify-content: space-between;
}

.api article {
    width: calc(50% - 5px);
    margin: 0 auto;
}

.api article figure {
    margin: 0 auto;
    width: 50%;
}

.api article img{
    width: 100%;
    
}

.web {
    margin: 0 auto;
    margin-top: 50px;
    margin-bottom: 50px;
    max-width: 1000px;
    display: flex;
    flex-wrap: wrap;
    padding: 10px 0;
    justify-content: space-between;
}

.web article {
    width: calc(50% - 5px);
    /* width: 33%; */
}

.web article figure {
    margin: 0 auto;
    width: 30%;
}

.web article img{
    width: 100%;
    
}

.git{
    /* display: flex; */
    padding-left: 0;
    list-style: none;
    max-width: 1000px;
    margin: 0 auto;
}

.git ul {
    padding-left: 0;
}

.git a {
    text-decoration: none;
    color: #ccc;
    font-size: 20px;
    /* cursor: pointer; */
    display: block;
}

.git li {
    background: #333;
    color: #fff;
    overflow: hidden;
    padding: 1rem;
    margin: 3px;
    position: relative;
    cursor: pointer;
}

.git li::before {
    background: #fff;
    content: "";
    display: block;
    height: 100%;
    left: -96%;
    opacity: 0.3;
    position: absolute;
    -webkit-transition: .6s;
    transition: .6s;
    top: 0px;
    width: 100%;
}

.git li:hover::before {
    left: 0;
    pointer-events: none;
}

/* infomaton */

.information {
    padding-top: 100px;
    padding-bottom: 100px;
}

.information h1{
    font-size: 50px;
}

.info {
    margin: 0 auto;
    margin-bottom: 50px;
}

.info article figure {
    margin: 0 auto;
    width: 50%;
    
}

.info article img{
    width: 25%;
    
}


/*  footer */


.footer {
    background-color: rgba(56, 40, 79, 0.8);;
    width: 100%;
}

.footer-link ul {
    margin: 0 auto;
    width: 20%;
    font-size: 15px;
    font-weight: bold;
    padding: 20px;
    
}

.footer-link ul li {
    display: inline-block;
    list-style: none;
    padding: 5px;
    cursor: pointer;
    color: #fff;
}

.copyright{
    font-size: 8px;
    margin: 0;
    padding-bottom: 20px;
    color: #fff;
}



/* Position and sizing of burger button */
.bm-burger-button {
    /* position: fixed;
    width: 36px;
    height: 30px;
    left:50%;
    margin-left: 600px;
    top: 5%; */
    /* display: none; */
}

.hum {
    /* text-align:right; */
}

/* Color/shape of burger icon bars */
.bm-burger-bars {
    background: #373a47;
}

/* Color/shape of burger icon bars on hover*/
.bm-burger-bars-hover {
    background: #005b99;
}

/* Position and sizing of clickable cross button */
.bm-cross-button {
    height: 24px;
    width: 24px;
}

/* Color/shape of close button cross */
.bm-cross {
    background: #bdc3c7;
}

/*
Sidebar wrapper styles
Note: Beware of modifying this element as it can break the animations - you should not need to touch it in most cases
*/
.bm-menu-wrap {
    position: fixed;
    height: 100%;
}

/* General sidebar styles */
.bm-menu {
    background: white;
    padding: 3.5em 1.5em 0;
    font-size: 2.15em;
}

/* Morph shape necessary with bubble or elastic */
.bm-morph-shape {
    fill: #373a47;
}

/* Wrapper for item list */
.bm-item-list {
    color: #b8b7ad;
    padding: 0.8em;
}

/* Individual item */
.bm-item {
    display: inline-block;
    text-decoration: none;
    outline: none;
}

/* Styling of overlay */
.bm-overlay {
    background: rgba(0, 0, 0, 0.3);
}