@media screen and ( max-width:1024px )
{
	.title-header img {
        height: 280px;
    }

    .ec article figure {
        width: 100%;
    }

    .ec article figure img{
        height: 280px;
        object-fit: cover;
    }

    .api article figure {
        width: 100%;
    }
}
@media screen and (min-width: 768px) {
    .bm-burger-button {
        display: none;
    }
}

@media screen and ( max-width:768px )
{
    body {
        padding: 0;
    }
    
    body.active {
        overflow: hidden;
    }

    .contents-nav p{
        visibility: hidden; 
    }

    .p-icon img {
        width: 50%;
    }

    .title-header {
        padding-top: 94.5px;
        /* position: relative; */
        /* top: 20%; */
    }

    .title-img {
        position: relative;
    }

    .title-header img {
        /* height: 180px; */
        object-fit: none;
    }

    .title-header p {
        font-size: 4rem;
        position: absolute;
        left: 50%;
        top: 50%;
    }

    .profile-text p {
        width: 300px;
        margin: 0 auto;
        text-align: left;
    }

    .skill {
        display: inline-block;
    }

    .card {
        width: 100%;
    }

    .ec {
        display: block;
        margin-top: 0;
    }

    .ec article {
        margin: 0 auto;
    }

    .ec article figure img{
        height: 100%;
    }

    .web {
        display: block;
    }

    .web article {
        margin: 0 auto;
    }

    .web article  {
        width: 100%;
    }

    .web article {
        padding-bottom: 50px;
    }

    .git {
        width: 50%;
    }

    .git li {
        margin-top: 20px;
    }

    .information {
        padding-bottom: 0;
    }

    .info-title {
        margin: 0 auto;
        padding-bottom: 70px;
    }

    .info article figure {
        width: 100%;
    }





    /* Position and sizing of burger button */
    .bm-burger-button {
        position: fixed;
        width: 36px;
        height: 30px;
        left:0;
        margin-left: 10%;
        top: 36px;
    }

    /* Color/shape of burger icon bars */
    .bm-burger-bars {
        background: #373a47;
    }

    /* Color/shape of burger icon bars on hover*/
    .bm-burger-bars-hover {
        background: #005b99;
    }

    /* Position and sizing of clickable cross button */
    .bm-cross-button {
        height: 24px;
        width: 24px;
    }

    /* Color/shape of close button cross */
    .bm-cross {
        background: #bdc3c7;
    }

    /*
    Sidebar wrapper styles
    Note: Beware of modifying this element as it can break the animations - you should not need to touch it in most cases
    */
    .bm-menu-wrap {
        position: fixed;
        height: 100%;
    }

    /* General sidebar styles */
    .bm-menu {
        background: white;
        padding: 3.5em 1.5em 0;
        font-size: 2.15em;
    }

    /* Morph shape necessary with bubble or elastic */
    .bm-morph-shape {
        fill: #373a47;
    }

    /* Wrapper for item list */
    .bm-item-list {
        color: #b8b7ad;
        padding: 0.8em;
    }

    /* Individual item */
    .bm-item {
        display: inline-block;
        text-decoration: none;
        outline: none;
    }

    /* Styling of overlay */
    .bm-overlay {
        background: rgba(0, 0, 0, 0.3);
    }
}